
/* text font  */
.open-sans-primary-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url('./images/developer.png'), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
    
}
.nav-titel{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none; 
    padding: 19px 51px 19px; 
    
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}

/*shared font color */
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
/* button */
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border: none;   

}
.btn2{
    background-color: #FFF8F3;
    border-radius: 5px;
    border: line;
    border-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding: 18px 35px;
    
}
/* banner1 */
.banner1{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 250px;
    
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-titel{
    font-size: 85px;
    font-weight: 700;
}
.banner-contant{
    font-size: 18px;
    font-weight: 400;
}
/* main */
main{
    margin: 0 auto;
    width: 1140px;
    padding: 130px 0;
    
}
/* about */
.about{
    
    background-color: #FFF8F3;
    text-align: center;
    padding: 125px 155px;
    border-radius: 10px;
    column-gap: 30px;
    
    
}
.about-items{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 15px;
}
.about-titel{
    font-size: 35px;
    font-weight: 700;

}
.about-details{
    font-size: 20px;
    font-weight:400 ;
    margin-bottom: 0%;
}
.about-dic{
    font-size: 20px;
    font-weight:700 ;
    margin-top: 0%;   
}
/* what i do */
.what-i-do{
    text-align: center;
    margin-top: 114px;
}

.skills{
    display: flex;
    gap: 24px;
}
.do-titel{
    font-size:35px ;
    font-weight: 700;

}
.do-para{
    font-size:18px ;
    font-weight:400 ;
    margin-bottom: 50px;

}
.slill h4{
    font-size:20px ;
    font-weight: 700;
}
.skill{
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    padding: 35px;
    border-radius: 5px;
}
/* resume */

.resume-titel{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 113px;
}

.summary{
    display: flex;
    gap: 34px;
}
.summary h3{
    font-size: 30px;
    font-weight: 700;
}
.summary h4{
    font-size: 25px;
    font-weight: 700;
}
.summary h5{
    font-size: 20px;
    font-weight: 600;
}
.summary p{
    font-size: 16px;
    font-weight: normal;
}
.download-cv{
    text-align: center;
    margin:50px 0px 113px 0px;
}
/* footer-coloum */
footer{
    display: flex;
    background-color:#FFF8F3 ;
    justify-content: space-around;
    padding: 130px 250px;
   
}
footer h3{
    font-size: 35px;
    font-weight: 700;
}
footer p{
    font-size: 16px;
    font-weight: 400;
}
.informations input,a {
    background-color: #FFFFFF;
    display: block;
}
.info{
    font-size: 16px;
    font-weight: 600;
    padding-left: 18px;
    border: none;
    border-radius: 5px;
    width: 461px; 
    height: 64px;
    margin-bottom: 24px;
}


