
/* text font  */
.open-sans-primary-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url('./images/developer.png'), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px;
    
}
.nav-titel{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none; 
    padding: 19px 51px 19px; 
    
   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
}

/*shared font color */
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
/* button */
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border: none;   

}
.btn2{
    background-color: #FFF8F3;
    border-radius: 5px;
    border-color: #FD6E0A;
}
/* banner1 */
.banner1{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 250px;
    
}
.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}
.banner-titel{
    font-size: 85px;
    font-weight: 700;
}
.banner-contant{
    font-size: 18px;
    font-weight: 400;
}
/* main */
main{
    margin: 0 auto;
    width: 1140px;
    padding: 130px 0;
    
}
/* about */
.about{
    
    background-color: #FFF8F3;
    text-align: center;
    padding: 125px 155px;
    border-radius: 10px;
    
}
.about-items{
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 15px;
}
.about-titel{
    font-size: 35px;
    font-weight: 700;

}
.about-details{
    font-size: 20px;
    font-weight:400 ;
}
.about-dic{
    font-size: 20px;
    font-weight:700 ;   
}
/* what i do */
.what-i-do{
    text-align: center;
}

.skills{
    display: flex;
}
.do-titel{
    font-size:95 ;
    font-weight: 700;

}
.do-para{
    font-size:18px ;
    font-weight:400 ;

}
.slill h4{
    font-size:20px ;
    font-weight: 700;
}